@font-face {
    font-family: 'Score';
    src: url(MeineSchrift.otf);
}

p {
    font-family: 'Score', sans-serif;
    font-size: 4em;
    color: white;
}

span {
    font-family: 'Score', sans-serif;
    font-size: 6em;
}